html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* .container {
    width: 800px;
    max-width: 80%;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  } */